---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

I've built and used all of the skills below in the classroom, on the job, and through personal exploration.

<ul>
  <li><b>Proficient Languages:</b> Python, SQL</li>
  <li><b>Familiar Languages:</b> R, Javascript, Java</li>
  <li><b>Software:</b> Git, Docker, Tableau, JMP, Microsoft Office & Excel, Photoshop</li> 
  <li><b>Technical:</b> Data Analysis, Database Management, Assay Design, ETL, Data Visualization, Machine Learning</li>
  <li><b>Key Libraries/Packages:</b> Pandas, Scikit-learn, NumPy, TensorFlow, PyTorch, Seaborn, Matplotlib</li>
</ul>
<hr>
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
  <hr>
{% endfor %}

